.Tag {
    background-color: #2C2C2C;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    //height: 24px;
    width: fit-content;
    padding: 8px;
    align-items: center;

    & > h4 {
        color: white;
        font-size: 10px;
        padding-left: 6px;
        width: fit-content;
    }
}