@import "../../styles/baseline.scss";

.feed {
    display: flex;
    grid-area: feed;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-bottom: 3rem;

    & > article {
        margin-bottom: 1.5rem;
    }

    &__loader {
        background-color: transparent;
        color: $white;
        border: 0.063rem solid $mid-grey;
        border-radius: 0.5rem;
        height: 2.75rem;

        &:hover {
            background-color: $dark-grey;
            cursor: pointer;
        }
    }

    &__empty {
        border: 0.063rem solid $mid-grey;
        border-radius: 0.5rem;
        background-color: transparent;
        height: 100vh;

        & > svg {
            width: 60%;
        }
    }
}