.feed {
    display: flex;
    grid-area: feed;
    flex-direction: column;
    height: 100%;
    padding-bottom: 48px;

    & > article {
        margin-bottom: 24px;
    }

    &__loader {
        background-color: transparent;
        color: #FFF;
        border: 1px solid #303030;
        border-radius: 8px;
        height: 44px;

        &:hover {
            background-color: #141414;
            cursor: pointer;
        }
    }

    &__empty {
        border: 1px solid #303030;
        border-radius: 8px;
        background-color: transparent;
        height: 100vh;

        & > svg {
            width: 60%;
        }
    }
}