.image-details {
    display: grid;
    grid-template-areas:    'image-title image-action'
                            'image-explanation .'
                            'image-tags image-tags';
    justify-items: stretch;
    grid-template-columns: 1fr 32px;
    column-gap: 32px;
    padding: 24px;
    border-top: 1px solid #303030;
    border-bottom: 1px solid #303030;

    &__title {
        grid-area: image-title;
        color: white;
        font-size: 24;
        margin: 0;
        margin-bottom: 8px;
    }

    &__tags {
        grid-area: image-tags;
        display: flex;
        flex-direction: row;

    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-right: 16px;

        & > h2 {
            color: white;
            font-size: 24;
            margin: 0;
            margin-bottom: 8px;
        }

        & > p {
            color: white;
            font-size: 14;
            opacity: 0.7;
            width: 100%;
            overflow-y: hidden;
            height: 60px;
            line-height: 21px;
            margin-bottom: 16px;
        }
    }
}