.button {
    height: 2rem;
    align-content: center;
    align-items: center;
    border-radius: 0.25rem;
    border-width: 0.063rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;

    &:hover {
        cursor: pointer;
    }

    & > span {
        font-size: 16;
        font-weight: 500;
    }
}