@import "../../styles/baseline.scss";

.container {
    background-color: $dark-grey; 
    padding: 1.5rem 1.5rem 2rem 1.5em; 
    height: min-content;
    border-radius: 0.5rem;

    &__title {
        text-transform: uppercase;
        margin-bottom: 0.75rem;
        color: $light-grey;
    }

    & > p {
        line-height: 21px;
    }
}