@import "../../styles/baseline.scss";

.profile {
    display: grid;
    grid-template-columns: 2rem min-content;
    align-items: center;
    column-gap: 0.25rem;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;

    &:hover {
        background-color: $dark-grey;
        cursor: pointer;
    }
}