.Like {
    background-color: #090909;
    border-color: #090909;
    padding: 0px;
    height: 32px;
    width: 32px;
    border-radius: 100%;
    
    &:hover {
        cursor: pointer;
        background-color: #303030;
        border-color: #303030;
    }
}