@import "../../styles/baseline.scss";

.image-preview {
    height: 25rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;

    @include tablet {
        width: 100%;
    }

    @include laptop-small {
        width: 37.5rem;
    }
}