@import "../../styles/baseline.scss";

.image-social {
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    align-items: center;
    height: 3.5rem;

    &:hover {
        background-color: $dark-grey;
        cursor: pointer;
    }

    & > div {
        height: 2rem;
        width: 2rem;
        border-radius: 100%;
        background-color: $mid-grey;
        overflow: hidden;

        & > img {
            height: 2rem;
            width: 2rem;
            border-radius: 100%;
        }
    }

    & > span {
        color: $white;
        padding-left: 0.75rem;
    }
}