@import "../../styles/baseline.scss";

.sidebar {
    display: none;

    @include laptop {
        grid-area: sidebar;
        display: grid;
        grid-template-rows: min-content 1fr min-content;
        justify-content: space-between;
        position: sticky;
        top: 6.5rem;
        height: calc(100vh - 6.5rem);
        padding-bottom: 3rem;
    }

    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;

        & > button {
            display: flex;
            flex-direction: row;
            background-color: transparent;
            border-color: transparent;
            width: min-content;
            border-radius: 0.25rem;
            padding: 0.25em 0.5rem;
        
            &:hover {
                background-color: $dark-grey;
                cursor: pointer;
            }

            & > span {
                padding-left: 0.5rem;
                color: $light-grey;
            }
        }
    }

    &__scroller {
        display: flex;
        flex-direction: row;
        width: fit-content;
        border-radius: 0.25rem;
        border-width: 0.063rem;
        padding: 0.5rem 1rem;
        justify-self: center;
        align-items: center;
    
        &:hover {
            cursor: pointer;
        }
    }
}