@import "../../styles/baseline.scss";

.image-card {
    background-color: $background;
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow: hidden;
    border-top: 0.063rem solid $mid-grey;
    border-bottom: 0.063rem solid $mid-grey;

    @include tablet {
        max-width: 37.5rem;
        border-radius: 0.5rem;
        border: 0.063rem solid $mid-grey;
    }
}