@import "../../styles/baseline.scss";

.page {
    display: grid;
    grid-template-areas:    "navi"
                            "feed";
    grid-template-rows: 3.5rem 1fr;
    row-gap: 3rem;

    @include tablet {
        grid-template-areas:    ". navi ."
                                ". feed .";
        grid-template-columns: 1fr 37.5rem 1fr;  
    }

    @include laptop {
        grid-template-areas:    ". navi navi navi ."
                                ". feed . sidebar .";
        grid-template-columns: 1fr 37.5rem 3rem 22rem 1fr;  
    }
}