@import "../../styles/baseline.scss";

.nav {
    grid-area: navi;
    position: fixed;
    grid-template-areas: ". watermark actions .";
    grid-template-columns: 1rem repeat(2, calc(50vw - 1rem)) 1rem;
    grid-template-rows: 3.5rem;
    display: grid;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100vw;
    border-bottom: 0.063rem solid $dark-grey;
    background-color: $background;
    z-index: 90;

    @include tablet {
        grid-template-areas: ". watermark router actions .";
        grid-template-columns: 1rem repeat(3, calc(33% - 1rem)) 1rem;
    }

    @include laptop-small {
        grid-template-columns: 1fr 25rem 12.5rem 25rem 1fr;
    }

    &__watermark {
        grid-area: watermark;
        display: flex;
        flex-direction: row;

        & > h1 {
            padding-left: 0.75rem;
        }
    }

    &__router {
        display: none;

        @include tablet {
            grid-area: router;
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-inline-start: 0rem;
        }

        & > li {
            align-items: center;
            align-content: center;
        }

        & > li > a {
            color: $mid-grey;
            width: min-content;
            border-radius: 0.25rem;
            padding: 0.5rem 1rem;
            text-align: center;
            margin: 0;
        
            &:hover {
                background-color: $dark-grey;
                cursor: pointer;
            }

            & > span {
                margin-left: 0.5rem;
                padding: 0.125rem 0.25rem;
                border-radius: 0.25rem;
                background-color: $mid-grey;
                font-size: 0.625rem;
            }

            &.selected {
                color: $white;
                font-weight: bold;

                & > span {
                    background-color: $red;
                    font-weight: 400;
                }
            }
        }
    }

    &__actions {
        grid-area: actions;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        & > button:nth-last-child(0) {
            margin-left: 1rem;
        }
    }
}