.nav {
    grid-area: navi;
    position: fixed;
    grid-template-areas: ". watermark router actions .";
    grid-template-columns: 1fr 400px 200px 400px 1fr;
    grid-template-rows: 56px;
    display: grid;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    border-bottom: 0.5px solid #1f1f1f;
    background-color: #090909;
    z-index: 90;

    &__watermark {
        grid-area: watermark;
        display: flex;
        flex-direction: row;

        & > h1 {
            padding-left: 12px;
        }
    }

    &__router {
        grid-area: router;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-inline-start: 0px;

        & > li {
            align-items: center;
            align-content: center;
        }

        & > li > a {
            color: rgb(51, 51, 51);
            width: min-content;
            border-radius: 4px;
            padding: 8px 16px;
            text-align: center;
            margin: 0;
        
            &:hover {
                background-color: #141414;
                cursor: pointer;
            }

            & > span {
                margin-left: 8px;
                padding: 2px 4px;
                border-radius: 4px;
                background-color: #303030;
                font-size: 10px;
            }

            &.selected {
                color: white;
                font-weight: bold;

                & > span {
                    background-color: #FF5353;
                    font-weight: 400;
                }
            }
        }
    }

    &__actions {
        grid-area: actions;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        & > button:nth-last-child(0) {
            margin-left: 16px;
        }
    }
}